<div class="wrapper">
  <div class ="left">
    <div class= "title-content">
        <div class = "title">Foody</div>
    </div>
    <div class ="image-content">
    </div>
  </div>
  <div class="right">
    <div class = "right-contents">
      <div class ="stock">
        <a href= "food_path">在庫をみる</a>
      </div>
      <div class ="registration">
        <a href= "/foods/new">食品とうろく</a>
      </div>
      <div class ="search-menu">
        <a href= "#">メニューを探す</a>
      </div>
      <div class ="search-food">
        <a href= "#">食品けんさく</a>
      </div>
    </div>
  </div>
</div>